<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create student</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/student/">Student list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${student}" method="post">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Class:</td>
            <td>
                <select th:field="*{classes}">
                    <option th:each="c : ${classList}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create student"></td>
        </tr>
    </table>
</form>
</body>
</html>